h1 {
	color: red;
	font-size: 2em;
}

.header-logo {
	float: left;
}

.header-logo a {
	display: block;
	width: 100%;
/*	height: 100%*/;
}

.container {
	display: inline-block;
	padding-top: 32px;
	padding-bottom: 32px;
}

div#header-inner {
	display: block;
	max-width: 920px;
	margin-right: auto;
	margin-left: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

li {
	display: inline-block;
	float: left;
	margin-right: 10px;
}

#main-title {
	text-align: center;
}

#main-title h1 {
	color: green;
}

#main-title p {
	color: purple;
}

.navigation {
	float: left;
	padding-top: 30px;
	padding-left: 600px;
}

.navigation ul li {
	margin: 0 25.6px 0 0;
	position:relative;
	float: left;
	padding-left: 0;
}

#formcontainer {
	width: 60%;
	height: 40px;
	position: relative;
	text-align: center;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
}

body {
	background-image: url("/img/mountains.jpeg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-size: cover; 
}

#shortenform {
	padding: 20px 30px;
	clear: auto;
}
.shorteninginput {
	width: 50%;
	height: 100%;
}

#shorten_button {
	width: 100px;
	height: 100%;
}

.shorten_button_hover {
	background-color: red !important;
}

/*#shorten_button:hover {
	color: blue;
}*/

.table {
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

#top-part {
	clear: both;
}

table, th, td {
    border: 2px solid black;
}

td {
    padding: 10px;
}