<h1>This is a signup page.</h1>

<form action="/create_user" method="post">
  Name:<br>
  <input type="text" name="name" value=""><br>
  Email:<br>
  <input type="text" name="email" value=""><br><br>
  <input type="submit" value="Submit">
</form>